.navbar {
    background-color: #222;
    padding: 5px 20px;


    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            background-color: #444;
            margin-right: 5px;
            transition: background-color 0.5s;

            &:hover {
                background-color: #666;
            }

            a {
                padding: 5px 10px;
                display: block;
                color: white;
                text-decoration: none;
            }
        }
    }
}